---
layout: default
title:  "Cats"
permalink: "/cats/"
order: 2
---

<ul>
  {% for post in site.categories.cats %}

  <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <ul>
            <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%-d %b, %Y" }}</time></li>
            {% if site.show_categories == 1 and post.category %}
                <li class="cats">
                    {% for category in post.category %}
                        <a href="{{site.baseurl}}/{{site.category_dir}}/{{category}}/">{{ category }}</a>
                    {% endfor %}
                </li>
            {% endif %}
        </ul>
        <h2 itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h2>
    </header>

    <li>
      <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" style="text-decoration: none; color: inherit; display: block;">
        <div class="post-content">
            {% if post.image %}
            <img style="width:260px;height:auto;" src="{{ post.image }}" >
            <p></p>
            {% endif %}
            <span role="button" style="color: #3DDB86;">Read More</span>
        </div>
      </a>
    </li>

  </article>

  {% endfor %}
</ul>